.App {
  text-align: center;
}

.blue-gradient { 
  background: linear-gradient(90deg, rgb(12, 21, 93)0%, rgb(24, 37, 94)50%);
  color: white;
}

.dropdown-open .select-option {
  background-color: #FCD34D !important; /* Change to your desired background color */
  color: #333333; /* Change to your desired text color */
}