.App {
  text-align: center;
}

.blue-gradient { 
  background: linear-gradient(90deg, rgb(12, 21, 93)0%, rgb(24, 37, 94)50%);
  color: white;
}

.dropdown-open .select-option {
  background-color: #FCD34D !important; /* Change to your desired background color */
  color: #333333; /* Change to your desired text color */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



.bouncingball {
  overflow: hidden;
  width:140px;
  height:140px;
  border-radius:100%;
  background:#CCC;
  animation: bounce 1s;
  transform: translateY(0px);
  animation-iteration-count: infinite;
  position:absolute;
  margin:50px;
}




@keyframes bounce {
	0% {top: 0;
		-webkit-animation-timing-function: ease-in;
	}
	40% {}
	50% {top: 140px;
		height: 140px;
		-webkit-animation-timing-function: ease-out;
	}
	55% {top: 160px; height: 120px; 
		-webkit-animation-timing-function: ease-in;}
	65% {top: 120px; height: 140px; 
		-webkit-animation-timing-function: ease-out;}
	95% {
		top: 0;		
		-webkit-animation-timing-function: ease-in;
	}
	100% {top: 0;
		-webkit-animation-timing-function: ease-in;
	}
}
