@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(18,50,201);
background: linear-gradient(90deg,
 rgb(6, 26, 128) 0%,
 rgb(14, 39, 140) 20%,
 rgb(9, 28, 125) 60%,
 rgb(5, 29, 128) 80%,
 rgb(8, 36, 103) 100%);
  color: white;
  margin: 0;
  font-family: 'Caprasimo', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
